<section>
	<div class="container top">
		<ol class="breadcrumb">
  		<li><%= link_to "Home", static_pages_landing_page_path %></li>
  		<li class="active">How it Works</li>
		</ol>

		<h1>How it Works</h1>
		<p>At Bikes 2 Go, we can get you out on your ride in just a few minutes. We have plenty of well-maintained bikes to outfit you, so there's no need to book ahead unless you have a large group!</p>
		<p>For more information, please visit our <%= link_to "Hours & Location", static_pages_hours_path %> and <a href="#">FAQs</a> pages.</p>
		<hr>
		<div class="how-it-works">
			<div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
				<%= image_tag("clipboard.png", class: "img-responsive my-image") %>	
			</div>
			<div class="col-lg-10 col-md-8 col-sm-8 col-xs-8">
				<h3>Step 1 - Pre-register *</h3>	
				<h4> Plan your ride on-line and save time on arrival</h4>
				<h5>* Optional</h5>
			</div>

			<div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
				<%= image_tag("id-card.png", class: "img-responsive my-image") %>	
			</div>
			<div class="col-lg-10 col-md-8 col-sm-8 col-xs-8">
				<h3>Step 2 - Arrival & Check-in</h3>	
				<h4> No need to decide how long you’ll be, pay at the end your ride!</h4>
				<h4> Many destinations are within a 2 hour round trip, with time to stop and enjoy the scenery and have a refreshment or two.</h4>
			</div>

			<div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
				<%= image_tag("cycle.png", class: "img-responsive my-image") %>	
			</div>
			<div class="col-lg-10 col-md-8 col-sm-8 col-xs-8">
				<h3>Step 3 - Get Your Bikes</h3>	
				<h4> Knowledgeable staff to hel get you fitted with the correct bike for you and your journey.</h4>
				<h4> Complimentary helmets are included, as are locks if you need the as well.</h4>
			</div>

			<div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
				<%= image_tag("pine.png", class: "img-responsive my-image") %>	
			</div>
			<div class="col-lg-10 col-md-8 col-sm-8 col-xs-8">
				<h3>Step 4 - Ride</h3>	
				<h4> Experience York, and its many sites and parks.</h4>
				<h4> Free maps available.</h4>
			</div>		

			<div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
				<%= image_tag("credit-cards.png", class: "img-responsive my-image") %>	
			</div>
			<div class="col-lg-10 col-md-8 col-sm-8 col-xs-8">
				<h3>Step 5 - Return & Go</h3>	
				<h4> Bring your bikes back.</h4>
				<h4> Ride time is calculated to the nearest quarter of an hour, with a minimum of 1 hour.</h4>
			</div>		
		</div>
	</div>
</section>
