<section>
  <div class="container top">
    <ol class="breadcrumb">
      <li><%= link_to "Home", static_pages_landing_page_path %></li>
      <li class="active">Sign Up</li>
    </ol>
    <h2>Sign up</h2>

    <div class="form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <h4><%= f.label :email, class: "form-label" %></h4>
        <h5><%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter Email *", required: "required" %></h5>
      </div>

      <div class="field">
        <h4><%= f.label :password, class: "form-label" %></h4>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <h5><%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter Password *", required: "required" %></h5>
      </div>

      <div class="field">
        <h4><%= f.label :password_confirmation, class: "form-label" %></h4>
        <h5><%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm Password *", required: "required" %></h5>
      </div>
      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-default btn-default-transparent" %>
      </div>
      <% end %>
    </div>

    <p><%= render "devise/shared/links" %></p>
  </div>
</section>
