<section>
  <div class="container top">
    <ol class="breadcrumb">
      <li><%= link_to "Home", static_pages_landing_page_path %></li>
      <li class="active">Log In</li>
    </ol>
    <h1>Log in</h1>

    <div class="form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <h4><%= f.label :email, class: "form-label" %></h4>
          <h5><%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter Email *", required: "required" %></h5>
        </div>

        <div class="field">
          <h4><%= f.label :password, class: "form-label" %></h4>
          <h5><%= f.password_field :password, autocomplete: "off" , class: "form-control", placeholder: "Enter password *", required: "required" %></h5>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.label :remember_me, class: "form-label"%>         
            <%= f.check_box :remember_me %>

          </div>
          <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-default btn-default-transparent" %>
        </div>
      <% end %>
    </div>

    <p><%= render "devise/shared/links" %></p>
  </div>
</section>