<section>
	<div class="container show">
		<div class="row">
			<div class="col-md-6 col-xs-12 ">
  			<div class="show-image">
 				<%= image_tag(@product.image_url, class: "img-responsive show-image") %>
 				</div>
 			</div>
			<div class="col-md-6 col-sm-12">
				<div class="show-detail">
					<h3><%= @product.name %></h3>
					<h4>£<%= @product.price %> per hr.</h4>
					<h4>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></h4>					
					<h5><%= @product.description %></h5>
	 				<p>You can pay at the end of your ride when bikes are returned.<br>
   				After the 1st hour, rental time is pro-rated to the nearest quarter hour. <br>
   				All rentals include the use of a lock and a helmet.<br>
   				<br> 
   				For more details on rental rates, please visit our <strong>Rates</strong> page or check out the individual bike choices below.</p>				
					<p>
						<%= link_to 'Edit Description', edit_product_path(@product) %>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<h3> User Ratings:</h3>
				<div class="row">
					<div class="col-md-6 col-sm-12">						
						<div class="show-rating">
							<h4>Highest Rating</h4>
							<div class="rated show-rated" data-score="<%= @product.highest_rating_comment.rating %>"></div>			
							<h5>"<%= @product.highest_rating_comment.body %>"</h5>
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="show-rating">
							<h4>Lowest Rating</h4>	
							<div class="rated show-rated" data-score="<%= @product.lowest_rating_comment.rating %>"></div>			
							<h5>"<%= @product.lowest_rating_comment.body %>"</h5>
						</div>	
					</div>
				</div>					
				<%= render partial: "new_comment" %>
				<div class="detail">
    			<p>
      			<%= link_to 'Back', products_path %>
    			</p>
  			</div>	
			</div>
			<div class="col-md-6 col-sm-12">
				<%= render partial: "comments" %>
				<%= will_paginate @comments %>
			</div>
		</div>		
	</div>
</section>