<section>
  <div class="container top">
    <ol class="breadcrumb">
      <li><%= link_to "Home", static_pages_landing_page_path %></li>
      <li><%= link_to "Bikes", products_path %></li>
      <li class="active"><%= @product.name %></li>
    </ol>
		<div class="row" data-product-id="<%= @product.id %>">
			<% cache @product do %>
			<div class="col-md-6 col-xs-12 ">
  			<div class="show-image">
 				<%= image_tag(@product.image_url, class: "img-responsive img-zoom show-image", data_zoom_image: @product.image_url.sub('200x100', '400x200')) %>
 				</div>
 			</div>
			<div class="col-md-6 col-sm-12">
				<div class="show-detail">
					<h3><%= @product.name %></h3>
					<h4>£<%= @product.price %></h4>
					<h4>Average Rating: <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div></h4>					
					<h5><%= @product.description %></h5>
	 				<p>Please come down to the store to check out the selection.</p> 
	 				<p>All bikes sales come with a 30 day mechanical warranty.</p>
        <% if signed_in? && current_user.admin? %>
          <%= link_to 'Edit Description', edit_product_path %> | 
          <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>

   					<%= form_tag "/payments/create" do %>
   						<%= hidden_field_tag(:product_id, @product.id) %>
  						<%= render partial: "shared/stripe_checkout_button" %>
						<% end %>
					</p>				
				</div>
			</div>
			<%end%>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<% if !@product.comments.empty? %>
				<h3> User Ratings:</h3>
				<div class="row">
					<div class="col-md-6 col-sm-12">						
						<div class="show-rating">
							<h4>Highest Rating</h4>
							<div class="rated show-rated" data-score="<%= @product.highest_rating_comment.rating %>"></div>			
							<h5>"<%= @product.highest_rating_comment.body %>"</h5>
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="show-rating">
							<h4>Lowest Rating</h4>	
							<div class="rated show-rated" data-score="<%= @product.lowest_rating_comment.rating %>"></div>			
							<h5>"<%= @product.lowest_rating_comment.body %>"</h5>
						</div>	
					</div>
				</div>
				<% end %>				
				<%= render partial: "new_comment" %>
			</div>
			
			<div class="col-md-6 col-sm-12">
				<div class="alert alert-info" style="display:none" role="alert">A new comment was just posted!</div>
				<%= render partial: "comments" %>
				<%= will_paginate @comments %>
			</div>
		</div>	
  </div>
</section>